
body {
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
}

.container {
  margin-top: 50px;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  background: #00ff88;
  border: none;
  cursor: pointer;
}

li {
  margin: 10px;
  list-style: none;
}
